body {
  background-color: #05a19c;
}
hr{

border-style: none;
border-top-style: dotted;
border-color: pink;
border-width: 10px;
width: 15%;
}
h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
p{
  color: #66BFBF;
}
